*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  --primary-text-color: #f7b4bb;
  --secondary-text-color:#f46d75;
 --link-text-color:red;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

p{
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    max-height: auto;
    overflow: hidden;
}

nav{
    background-color: var(--secondary-text-color);
    box-shadow: 0 0 4px var(--primary-text-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.nav-links ul{
    gap: 16px;

}

.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: var(--link-text-color);
}

.hover-link:active{
    color: white;
}

.search-bar{
    height: 32px;
    gap: 8px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius:4px;
    border: 2px solid #f7b4bb;

}

.search-button{
    background-color: var(--primary-text-color);
    color: white;
    padding: 8px 24px;
    cursor: pointer;
}
.search-button:hover{
    background-color: red;
}

main{
    padding-block: 20px;
    margin-top: 80px;
}
.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card{
    width: 360px;
    height: 400px;
    box-shadow: 0 0 4px wheat;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    box-shadow:1px 1px 8px wheat;
    background-color: aliceblue;
    transform: translate(-2px);
}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block: 12px;
}